.header-container{
  @header-height:150/124rem;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: @header-height;
  border-bottom:1px solid rgba(0,0,0,0.1);

  display: flex;
  padding: 0 30/124rem;
  justify-content: space-between;
  align-items: center;
}