.record-container{
  @nav-bar-height: 165/124rem;

  margin-top: 150/124rem;
  padding: 75/124rem 70/124rem;


  .content-wrapper{
    margin-bottom: @nav-bar-height;
    .react-calendar{
      margin: 10px auto;
    }

    .record-area{
      margin-top: 70/124rem;
    }
  }
}