<!DOCTYPE html>
<html>
  <head>
    <title>Daily-Check</title>
    <meta charset="UTF-8">
  </head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" >
  <link rel="stylesheet" href="//at.alicdn.com/t/font_1130990_i3138wfjvf.css">
  <script src="//g.tbcdn.cn/mtb/lib-flexible/0.3.4/??flexible_css.js,flexible.js"></script>
  <body>
    <div id="root"></div>
    
    <!-- <script type="text/javascript" src="/app.bundle.js"></script> -->
  </body>
</html>