.home-container{
  margin-top: 45px;

  .content-wrapper{
    padding: 90/124rem 120/124rem;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .habit-item{
    display: inline-block;
    margin: 0 50/124rem 100/124rem;
  }
}